:root{
    /*
    add styles variables here 

    */
}

/*
look up how to add light-dark theme toggle button to your site (https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/)
*/


body{
    /*background: rgba(0, 128, 0, 0.721);*/
    background: black;
}


.name-title{
    text-align: center;
    font-family: Didot;
    color: rgb(147, 0, 0);
    font-weight: bold;
    margin-top: 20px;
}

.nav-link{
    font-family: Calibri;
    color: rgb(147, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
}


.nav-item{
    /* increase spacing between navbar items */
    padding: 10px 40px;
}

/* .mynav{
    background-image: linear-gradient(to right, rgb(216, 172, 26), red);
} */

.divider-vertical-second-menu{
    height: 40px;
    width: 1px;
    margin: 0 5px;
    overflow: hidden;
    background-color: #DDD;
    border-right: 2px solid #FFF;
 }



 .random-text-generator{
     text-align: center;
 }

 #quoteDisplay{
     /*background-image: linear-gradient(to right, rgb(77, 63, 63), red);*/
    font-family: 'Merienda One';
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
 }

 .quote-button{
    padding: 3px, 3px, 3px, 3px;
    color: red;
    background-color: black;
    margin-left: 20px;

 }

 .about-image{
     float: left;
     margin-right: 10px;
     padding-right: 10px;
     margin-left: 10px;
     padding-left: 10px;
     margin-bottom: 20px;
 }

.about-text{
    display: block;
    color: white;
    font-family: Didot;
    margin-top: 20px;
    padding-top: 10px;
}