:root{
    /*
    add styles variables here 

    */
}

/*
look up how to add light-dark theme toggle button to your site (https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/)
*/


body{
    /*background: rgba(0, 128, 0, 0.721);*/
    background: black;
}




.name-title{
    text-align: center;
    font-family: Didot;
    color: rgb(147, 0, 0);
    font-weight: bold;
    margin-top: 20px;
}

.name-title-link{
    color: red;
}

.name-title-link:hover{
    text-decoration-line: none;
}


.nav-item{
    /* increase spacing between navbar items */
    padding: 10px 40px;
}

.nav-item:hover{
    background: #E63946;
}

.nav-link{
    font-family: Calibri;
    color: rgb(147, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
}



/* .mynav{
    background-image: linear-gradient(to right, rgb(216, 172, 26), red);
} */



/* code for vertical white bar divider between navbar items */
/* .divider-vertical-second-menu{
    height: 40px;
    width: 1px;
    margin: 0 5px;
    overflow: hidden;
    background-color: #DDD;
    border-right: 2px solid #FFF;
 } */


 

 .random-text-generator{
     text-align: center;
 }

 #quoteDisplay{
     /*background-image: linear-gradient(to right, rgb(77, 63, 63), red);*/
    font-family: Didot,'Merienda One';
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-top: 2%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1%;
 }

 #personBeingQuoted{
    color: white;
    font-family: Didot,'Merienda One';
    font-weight: bold;
    margin-left: 60%;
    margin-right: 2%;
    margin-bottom: 1%;
 }

 .quote-button{
    /* padding: 3px, 3px, 3px, 3px; */
    color: red;
    background-color: rgba(120, 109, 109, 0.132);
    margin-left: 20px;
    margin-bottom: 5px;
    border: none;
 }

 .quote-button:hover{
    color: white;
    background-image: linear-gradient(to right, black, red);
 }


.quote-button:focus{
    outline: none;
    box-shadow: none;
}

 .header-break{
    border: 0;
    clear: both;
    display: block;
    width: 96%;               
    background-color:#dadada;
    height: 1px;
    margin-bottom: 4%;
 }

 .about-image{
     float: left;
     margin-right: 10px;
     padding-right: 10px;
     margin-left: 10px;
     padding-left: 10px;
     margin-bottom: 20px;
 }

.about-text{
    display: block;
    color: white;
    font-family: Didot;
    margin-top: 20px;
    padding-top: 10px;
}
